html, body{
	width: 100%;
	height: 100%;
	margin: 0;
}

div.input{
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;

	width: 96%;
	height: 94%;
	font-size: 40px;
	font-family: arial;

	line-height: 44px;
	outline: 3px dashed rgba(204,204,204,1);/* original color: #CCC;*/
	padding: 3%;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	overflow: scroll;
}

div.input:focus{
	outline: 3px dashed black;
}

.input div.linebreak {
	display: inline;
}


/*
** Text effect code
*/

span.inserted{
	position: relative;
	display: inline-block;

	text-shadow: 0 0 0 transparent;

	transform: scale(1);
	-webkit-transform: scale(1);

	-webkit-animation-name: cooling-lava;
	-webkit-animation-duration: 5s;
	-webkit-animation-timing-function: linear;

	animation-name: cooling-lava;
	animation-duration: 5s;
	animation-timing-function: linear;
}


/* https://kuler.adobe.com/#themeID/147748 */
@keyframes cooling-lava { 
	0%  {
			color: #F2B33D;
			text-shadow: 0 0 2px #F2B33D;
			transform: scale(1.2);
		}
	10% {
		color: #F28A2E;
		text-shadow: 0 0 0 transparent;/*necessary to cancel inheritance cases*/
		transform: scale(1);
	}
	15% {
			color: #D94D1A;
			text-shadow: 0 0 0 transparent;/*necessary to cancel inheritance cases*/
		}
	50% {
			color: #A6290D;
			text-shadow: 0 0 0 transparent;/*necessary to cancel inheritance cases*/
		}
	70% {
			color: rgb(52,53,60);
			text-shadow: 0 0 0 transparent;/*necessary to cancel inheritance cases*/
	}
	100%{
			color: black;
			text-shadow: 0 0 0 transparent;/*necessary to cancel inheritance cases*/
		}
}

@-webkit-keyframes cooling-lava { 
	0%  {
			/*color: #F2B33D;*/
			color: rgb(242,	234, 97	);	
			text-shadow: 0 0 2px #F2B33D;
			-webkit-transform: scale(1.2) ;
		}
	6% {
		color:rgb(245,	134,	53	);

		text-shadow: 0 0 0 transparent;/*necessary to cancel inheritance cases*/
		-webkit-transform: scale(1.17);
	}
	15% {
			color: rgb(221,	50,	13	);
			-webkit-transform: scale(1.12);
			text-shadow: 0 0 0 transparent;/*necessary to cancel inheritance cases*/
		}
	50% {
			color: rgb(109,	22,	8);
			-webkit-transform: scale(1.08);
			text-shadow: 0 0 0 transparent;/*necessary to cancel inheritance cases*/
		}
	70% {
			color: rgb(36,	35,	36	);
			-webkit-transform: scale(1);
			
			text-shadow: 0 0 0 transparent;/*necessary to cancel inheritance cases*/
	}
	100%{
			color: rgb(13,	13,	13	);
			-webkit-transform: scale(1);
			text-shadow: 0 0 0 transparent;/*necessary to cancel inheritance cases*/
		}
}