html, body{
	width: 100%;
	height: 100%;
	margin: 0;
}

div.input{
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;

	width: 96%;
	height: 94%;
}

div[contentEditable="true"]{
	outline: 3px dashed rgba(204,204,204,1);/* original color: #CCC;*/
	padding: 5px;
}



div[contentEditable="true"]:focus{
	outline: 3px dashed black;
}



span.fader{
	/*-webkit-transform: translate3d(0,0,0); attempt to hardware accelerate,
	but unfortunately color can't be gpued at the moment,
	as of now the only way to reduce cpu cycls is to lower the animation duration*/
	-webkit-animation-name: cooling-lava;
	-webkit-animation-duration: 5s;
	-webkit-animation-timing-function:  linear;/*cubic-bezier(0, .89, .20, .87);*/

	-webkit-user-modify: read-only;
}

/* https://kuler.adobe.com/#themeID/147748 */
@-webkit-keyframes cooling-lava { 
	0%  {
			color: #F2B33D;
			text-shadow: 0 0 1px #F2B33D;
		}
	5% 		{ color: #F28A2E }
	15% 	{ color: #D94D1A }
	50% 	{ color: #A6290D; }
	70% 	{ color: rgb(52,53,60) }
	100% 	{ color: black }
}